extends main-template

block title
  | Главная

block content
  header.header
    .header__wrap
      +about-advokat('header')

    button(aria-label='Переключатель открыть/закрыть меню').nav-toggle
      span
    nav.main-nav
      ul.main-nav__list
        each item in mainNav
          li.main-nav__item
            a.main-nav__link(href='#')= item

      blockquote.main-nav__blockquote
        span Знать свои права -&nbsp;
        span значит быть сильным!
      p.main-nav__note Первичная устная консультация - бесплатно!

  main.main-content
    .main-content__wrap
      aside.sidebar
        +nav('service-menu', 'Услуги', serviceMenu)

        section.latest-articles
          .latest-articles__wrapper
            .latest-article__name Статьи
            ul.latest-article__list
              each article, value in articles
                li.latest-article__item
                  p.latest-article__name-article= article.name
                  p.latest-article__annotation-article= article.desc
                  a(href='#').latest-article__link= article.link
            a(href='#').latest-article__link Все статьи
      .main__col
        section.cms-content
        .cms-content__wrapper
          h1 Адвокат Якубов Рашад Киязович
          each content in textBlock1
            p= content

          h2 Юридическая помощь

          section.advantages
            h3.visually-hidden Преимущества
            ul.advantages__list
              each advantage, value in advantages
                li.advantages__item
                  img(src= advantage.imgSrc, alt= advantage.imgAlt, width= advantage.imgWidth, height= advantage.imgHeight).advantages__icon
                  = advantage.text

          each content in textBlock2
            p= content

          h2 Принципы работы

          each content in textBlock3
            p= content

          blockquote "Дела бывают разные, простые и сложные, верные и безнадежные. Если шансы на успех малы – я скажу Вам об этом в самом начале. Я не буду давать Вам обещаний, которых не смогу выполнить."
            img(src='img/content/balance.svg' alt='Весы правосудия', width='100', height='100')

          each content in textBlock4
            p= content

        section.feedback
        .feedback__wrap
          h2.feedback__name Бесплатная онлайн-консультация адвоката
          form.feedback__form(method='post', action='/s/mail_vac', enctype='multipart/form-data')
            label.feedback__label
              span.feedback__note Ваше имя:
              input#your-name.feedback__field(type='text', name='your-name', required='')
            label.feedback__label
              span.feedback__note Ваше телефон:
              input#phone.feedback__field(type='tel', name='phone', required='')
            label.feedback__label
              span.feedback__note Ваше email:s
              input#email.feedback__field(type='email', name='email', required='')
            label.feedback__label.feedback__label--textarea
              span.feedback__note Текст письма:
              textarea#message.feedback__textarea(name='message')
            button.feedback__send(type='submit') Отправить

        section.certificates
        h2.certificates__name Свидетельство и cертификаты
        ul.certificates__list
          each certificate, value in certificates
            li.certificates__item
              a(href= certificate.link, aria-label='Увеличить фото').certificates__link
                picture.certificates__thumb
                  //- source(srcset= certificate.web, type='image/webp')
                  img(src= certificate.img, alt= certificate.alt,  width="120" height="174")
  footer.footer
    .footer__wrap

      +about-advokat('footer')

      p.footer__copyright Юридические услуги. © 2018 Все права защищены.

      ul.social
        each social, value in socials
          li.social__item
            a.social__link(href= social.link, aria-label= social.alt)
              picture.social__icon
                //- source(srcset= social.web, type='image/webp')
                img(src= social.img, alt= social.alt)

